/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* common family */
body{
    font-family: 'Poppins', sans-serif;
}
/* container- */
    .container{
    background: #FFFFFF;   
}
h3{
    margin-left: 120px;
}
.influ{
    font-size: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-step{
    width: 582px;
    height: 270px;
}
.button{
    
    width: 160px;
    height: 40px;
    background-color: rgb(155, 73, 73);
    border-radius: 20px;
    color: white;
    transition: ease-out 0.3s;
}
.button:hover{
    cursor: pointer;
    color: black;
    
}
/* style of pictures */
.picture img{
   width: 440px;
     height: 414px;
     margin-left: 80px;
}
.picture:hover img{
    transform: scale(1.3) rotate(-360deg);
    transition:  5s ease-in;
}
/* collection style */
   
.selection-title{
    margin-left: 450px;
    padding: 100px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 15px;
}
.collection{
    margin-left:110px;
   margin: 0 auto;
   width: 340 px;
   height: 473 px;
   background: #FFFFFF;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   padding: 20px;
}
.collection-title{
    margin-left: 1px;   
}
.fa-star{
    color: rgb(223, 157, 36);
}
span{
    color: #5E6366;
    font-weight: bold;

}
.collection-text{
    color: #787885;
    font-size: 14px;
    font-weight: bold;
}
.see{
    color: #c00c4bde;
     margin-left: 1172px;
    padding-top: 60px;     
}
.button-2{
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: mediumslateblue;
    color: white;
}

/* social media influencer */

.social-influ{
    display: flex;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 20px;
}
/* footer-part */
footer{
    text-align: center;
    background-color:#0A0826;    color: white;
}
h2{
align-items: center;
}
